


<h3>Sage is a female owned and operated business located in the Milwaukee, WI Metro area. </h3>
<br />

<h4>Owners: Sonya Wasielewski and Heather Ryan are cousins who share a passion for nature and specifically plants.</h4>
<br />
<h5>Sonya is a high school freshman English teacher. She has always had a passion for the holistic and natural.
    Her home and yard is always filled with plants and flowers that provide benefits to not only nature and the 
    surrounding habitat but also benefit the soul and well being of her family and neighbors. Sonya has also always had 
    a passion for the arts and recycling. Combining these passions results in one of kind creations using plants and 
    recycled or upcycled containers. </h5>
<br />
<br />
<h5>Heather has always been passionate about nature and all things tiny. Her mother has surrounded her with plants
    her entire life. Heather has always found insects facinating and its only natural that developed into a love of 
    plants. She now maintains the entire propigation process for Sage. Finding rare and unusual plants, cultivating them 
    into healthy and thriving plants for years to come. </h5>
<br />
<br />
<h5>These two beutiful souls combining to create healthy plants that will thrive for years in repurposed and original
    containers. The combinations become one of kind works of art! </h5>