

    <body>
        <div>
            <h1>Why Plants? Do I need really need plants in my home? What do they really do for me?</h1>

            <br />
            <br />
        </div>
        <div class="container">
            <div>
                <img class="d-block w-100" src="~/images/HomeC2.jpg" alt="Third slide">
            </div>
            <h1>Top 3 Benefits of Houseplants</h1>
            <br />
            <br />
            <div class="row">
                <div class="col-10">
                    <h3>They give an assist in breathing</h3><br />
                    <h5>
                        Inhaling brings oxygen into the body, exhaling releases carbon dioxide.
                        During photosynthesis, plants do the opposite, of sorts: They absorb carbon
                        dioxide and release oxygen, making plants and people great partners when it comes
                        to gasses. Plants help to increase oxygen levels, and our bodies appreciate that.
                        But here’s something to know: When photosynthesis stops at night, most
                        plants switch things up and absorb oxygen and release carbon dioxide. However,
                        a few special plants – like orchids, succulents and epiphytic bromeliads – flip
                        that script and take in carbon dioxide and release oxygen. Meaning, use these plants
                        in bedrooms to keep the oxygen flowing at night.
                    </h5>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-10">
                    <h3>They help deter illness</h3><br />
                    <h5>
                        In the great outdoors, plant roots tap the groundwater table for water which then
                        evaporates through its leaves in a process known as transpiration. Studies show that
                        this accounts for about 10 percent of the moisture in the atmosphere! The same thing
                        happens at home (minus the groundwater table part), which increases the humidity indoors.
                        While this may sound unappealing during hot moist months, it’s a gift during drier
                        months or if you live in an arid clime. According to Bayer Advanced, studies at the
                        Agricultural University of Norway document that using plants in interior spaces decreases
                        the incidence of dry skin, colds, sore throats and dry coughs. And other research reveals
                        that higher absolute humidity is conducive for decreased survival and transmission of the
                        flu virus.
                    </h5>
                </div>
            </div><br /><br />
            <div class="row">
                <div class="col-10">
                    <h3>They clean the air</h3><br />
                    <h5>
                        NASA has spent a lot of time researching air quality in sealed environments, which makes
                        sense. Extensive research by the space agency discovered a then-new concept in indoor air
                        quality improvement in which plants play a pivtoal role: “Both plant leaves and roots are
                        utilized in removing trace levels of toxic vapors from inside tightly sealed buildings.
                        Low levels of chemicals such as carbon monoxide and formaldehyde can be removed from indoor
                        environments by plant leaves alone.” When talking about the relationship between plants and
                        space travelers, NASA notes that plants, "provide nourishment for the body when eaten as
                        food, and they improve the quality of indoor air. Plants take the carbon dioxide from air to
                        produce oxygen that humans can breathe."
                        <br />
                        <br />
                        The top 10 plants for removing indoor pollutants, according to the agency are: Peace lily
                        (Spathiphyllum wallisii), golden pothos (Scindapsus aures), English ivy (Hedera helix),
                        chrysanthemum (Chrysantheium morifolium), gerbera daisy (Gerbera jamesonii), mother-in-law's
                        tongue (Sansevieria trifasciata 'Laurentii'), bamboo palm (Chamaedorea sefritzii), azalea
                        (Rhododendron simsii), red-edge dracaena (Dracaena marginata) and spider plant (Chlorophytum
                        comosum). For more on these specific plants, see: Houseplants that clean the air.
                    </h5>
                </div>
            </div>

        </div>

    </body>
