

    <body>
        <div>
        <h1>Environmental Philosophy</h1>
        <h4>
            A peer-reviewed professional philosophy journal, Environmental Philosophy is jointly
            sponsored by the University of Oregon’s Department of Philosophy and Environmental Studies
            Program, in collaboration with The International Association for Environmental Philosophy.
            Ted Toadvine serves as the journal’s Editor-in-Chief.
        </h4>
            </div>
        <div>
            <p><img src="~/Images/Earth.JPG" class="myImage" /></p>
            <p>
                <h4 class="myText">
                    Environmental Philosophy is the official journal of the International Association for
                    Environmental Philosophy (IAEP), founded in 1997 to provide a forum for wide-ranging
                    philosophical discussion of nature and the human relation to the natural environment.
                    The journal publishes articles in all areas of environmental theory, including ethics,
                    aesthetics, metaphysics, theology, politics, ecofeminism, environmental justice, philosophy
                    of technology, and eco-phenomenology.
                    <br />
                    Environmental Philosophy welcomes diverse philosophical approaches to environmental issues,
                    including those inspired by the many schools of Continental philosophy, studies in the
                    history of philosophy, indigenous and non-Western philosophy, and the traditions of American
                    and Anglo-American philosophy.
                </h4>
            </p>
        </div>
    </body>
