@model SAGEWebsite.Models.Survey

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveyId" />
            <div class="form-group">
                <label asp-for="StyleType" class="control-label"></label>
                <select asp-for="StyleType" class="form control">
                    <option value="Modern">Modern</option>
                    <option value="Country">Country</option>
                    <option value="Eclectic">Eclectic</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="HomeType" class="control-label"></label>
                <select asp-for="HomeType" class="form control">
                    <option value="Bright">Bright As The Sun</option>
                    <option value="Normal">Well Lit</option>
                    <option value="Dark">Dark As A Cave</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LifeType" class="control-label"></label>
                <select asp-for="LifeType" class="form control">
                    <option value="Homebody">Homebody</option>
                    <option value="Average">Out For A Day Or Two</option>
                    <option value="Active">Gone For Days At A Time</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

